{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <div class="ec-content-wrapper">
        <div class="content">
            <div class="row">
                <div class="ec-content-wrapper">
                    <div class="content">
                        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                            <div>
                                <h1>افزودن پرسنل</h1>
                                <p class="breadcrumbs"><span><a href="{% url 'adminP:dashboard' %}">خانه</a></span> <span><i
                                            class="mdi mdi-chevron-left"></i></span>اضافه کردن پرسنل</p>
                            </div>
                            <div><a href="{% url 'adminP:personel_list' %}" class="btn btn-primary"> مشاهده همه </a></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-default">
                                    <div class="card-header card-header-border-bottom">
                                        <h2>افزودن پرسنل</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="row ec-vendor-uploads">
                                            <div class="col-lg-12">
                                                <div class="ec-vendor-upload-detail">
                                                    <form class="row g-3" method="POST">
                                                        {% csrf_token %}
                                                        <div class="col-md-6"><label for="inputEmail4"
                                                                class="form-label">نام کارمند</label>{{form.name}}</div>
                                                        <div class="col-md-6"><label for="inputEmail4"
                                                            class="form-label">یوزر نیم</label>{{form.username}}</div>
                                                        <div class="col-md-6"><label class="form-label">ایمیل
                                                            </label>{{form.email}}</div>
                                                        <div class="col-md-6"><label class="form-label">شماره
                                                                تلفن</label>{{form.phone_number}}</div>
                                                        <div class="col-md-6"><label for="inputEmail4"
                                                                class="form-label">آدرس</label>{{form.address}}</div>
                                                        <div class="col-md-6"><label class="form-label">کد پستی
                                                            </label>{{form.postal_code}}</div>
                                                        <div class="col-md-6"><label class="form-label">شهر
                                                            </label>{{form.city}}</div>
                                                        <div class="col-md-12"><button type="submit"
                                                                class="btn btn-primary">ثبت اطلاعات</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}