{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
<div class="ec-content-wrapper">
    <div class="content">
        <div class="row">
            <div class="ec-content-wrapper">
                <div class="content">
                    <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                        <div>
                            <h1>ویرایش بلاگ</h1>
                            <p class="breadcrumbs"><span><a href="{% url 'adminP:dashboard' %}">خانه</a></span> <span><i
                                        class="mdi mdi-chevron-left"></i></span>ویرایش اطلاعات وبلاگ</p>
                        </div>
                        <div><a href="{% url 'adminP:weblog_list' %}" class="btn btn-primary"> مشاهده همه </a></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-default">
                                <div class="card-header card-header-border-bottom">
                                    <h2>ویرایش بلاگ</h2>
                                </div>
                                <div class="card-body">
                                    <form class="row g-3" method="POST" enctype="multipart/form-data" >
                                        <div class="row ec-vendor-uploads">
                                            <div class="col-lg-4">
                                                <div class="ec-vendor-img-upload">
                                                    <div class="ec-vendor-main-img">
                                                        <div class="avatar-upload">
                                                            <div class="avatar-edit"><input type="file"
                                                                    id="imageUpload" class="ec-image-upload"
                                                                    accept=".png, .jpg, .jpeg"><label
                                                                    for="imageUpload"><img
                                                                        src="{% static 'assets/img/icons/edit.svg' %}"
                                                                        class="svg_img header_svg"
                                                                        alt="edit"></label></div>
                                                            <div class="avatar-preview ec-preview">
                                                                <div class="imagePreview ec-div-preview"><img
                                                                        class="ec-image-preview"
                                                                        src="{{blog.cover}}"
                                                                        alt="edit"></div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="ec-vendor-upload-detail">
                                                    <div class="col-md-12"><label for="inputEmail4"
                                                            class="form-label">نام بلاگ</label><input
                                                            value="{{blog.title}"
                                                            class="form-control slug-title"
                                                            id="inputEmail4" name="title"></div>

                                                    <div class="col-md-12"><label
                                                            class="form-label">جزییات</label><textarea
                                                            class="form-control" rows="4"name="body">{{blog.body}}</textarea></div>

                                                    <div class="col-md-12"><label
                                                        class="form-label">توضیحات متا</label><textarea
                                                        class="form-control" rows="4"name="meta_description">{{body.meta_description}}</textarea></div>
                                                    <hr />
                                                    <h5>اطلاعات زیر را برای نسخه انگلیسی وارد کنید</h5>
                                                    <br >
                                                    <br >
                                                    
                                                    <div class="col-md-12"><label for="inputEmail4"
                                                        class="form-label">نام بلاگ</label><input
                                                        value="{{blog.en_title}}"
                                                        class="form-control slug-title"
                                                        id="inputEmail4" name="en_title"></div>
                                                        
                                                <div class="col-md-12"><label
                                                        class="form-label">جزییات</label><textarea
                                                        class="form-control" rows="4" name="en_body">{{blog.en_body}}</textarea></div>
                                                
                                                <div class="col-md-12"><label
                                                    class="form-label">توضیحات متا</label><textarea
                                                    class="form-control" rows="4" name="en_meta_description">{{blog.en_meta_description}}</textarea></div>




                                                    <div class="col-md-12"><button type="submit"
                                                            class="btn btn-primary">ویرایش اطلاعات</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}