{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
            <div class="ec-content-wrapper">
                <div class="content">
                    <div class="row">

                        <div class="ec-content-wrapper ec-vendor-wrapper">
                            <div class="content">
                                <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                                    <div>
                                        <h1>لیست پرسنل</h1>
                                        <p class="breadcrumbs"><span><a href="{% url 'adminP:dashboard' %}">خانه</a></span><span><i
                                                    class="mdi mdi-chevron-left"></i></span> پرسنل</p>
                                    </div>
                                    <div><a type="button" href="{% url 'adminP:personel_add' %}" class="btn btn-primary" > افزودن پرسنل </a></div>
                                </div>
                                <div class="card card-default p-4 ec-card-space">                                    
                                    <div class="ec-vendor-card mt-m-24px row">

                                    {% for personel in personels %}
                                        <div class="col-lg-6 col-xl-4 col-xxl-3">
                                            <div class="card card-default mt-24px">
                                                <a href="javascript:0"
                                                    data-bs-toggle="modal" data-bs-target="#modal-contact-{{personel.id}}"
                                                    class="view-detail"><i class="mdi mdi-eye-plus-outline"></i></a>
                                                <div class="vendor-info card-body text-center p-4"><a
                                                        href="javascript:0" class="text-secondary d-inline-block mb-3">
                                                        <div class="image mb-3"><img src="{% static 'assets/img/vendor/u12.jpg' %}"
                                                                class="img-fluid rounded-circle" alt="Avatar Image">
                                                        </div>
                                                        <h5 class="card-title text-dark"> {% if personel.name %} {{personel.name}} {% else %} {{personel.username}} {% endif %} </h5>
                                                        <ul class="list-unstyled">
                                                            <li class="d-flex mb-1"><i
                                                                    class="mdi mdi-cellphone-basic mr-1"></i>
                                                                <span>{{personel.phone_number}}</span>
                                                            </li>
                                                            <li class="d-flex"><i class="mdi mdi-email mr-1"></i>
                                                                <span><span class="__cf_email__">{{personel.email}}</span></span>
                                                            </li>
                                                        </ul>
                                                    </a>
                                                    <div class="row justify-content-center ec-vendor-detail">
                                                        <div class="col-4">
                                                            <h6 class="text-uppercase">سن</h6>
                                                            <h5>{{personel.age}}</h5>
                                                        </div>
                                                        <div class="col-4">
                                                            <h6 class="text-uppercase">سمت</h6>
                                                            <h5>{{personel.field}}</h5>
                                                        </div>
                                                        <div class="col-4">
                                                            <h6 class="text-uppercase"> تحصیلات </h6>
                                                            <h5> {{personel.education}} </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}

                                    </div>
                                </div>
                            </div>
                            {% for personel in personels %}
                            <div class="modal fade" id="modal-contact-{{personel.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header justify-content-end border-bottom-0">


                                            <a href="{% url 'adminP:personel_delete' personel.id %}" type="button"
                                                style="margin-left: 5px;background-color: rgb(231, 69, 69); color: white; border-radius: 15px; padding: 0 10px;">
                                                حذف</a>

                                            <a href="{% url 'adminP:personel_edit' personel.id %}" type="button"
                                                style="background-color: rgb(0, 140, 255); color: white; border-radius: 15px; padding: 0 10px;">
                                                ویرایش</a>

                                            <button type="button" class="btn-close-icon" data-bs-dismiss="modal"
                                                aria-label="Close"><i class="mdi mdi-close"></i></button>

                                        </div>
                                        <div class="modal-body pt-0">
                                            <div class="row no-gutters">
                                                <div class="col-md-6">
                                                    <div class="profile-content-left px-4">
                                                        <div class="text-center widget-profile px-0 border-0">
                                                            <div class="card-img mx-auto rounded-circle"><img
                                                                    src="assets/img/user/u1.jpg" alt="user image"></div>
                                                            <div class="card-body">
                                                                <h4 class="py-2 text-dark"> {{personel.name}} </h4>
                                                                <p><a class="__cf_email__"
                                                                        data-cfemail="62080d0a0c4c071a030f120e0722050f030b0e4pavc010d0f"></a>
                                                                </p>
                                                                <br />
                                                            </div>
                                                        </div>
                                                        <div class="row justify-content-center ec-vendor-detail">
                                                            <div class="col-4">
                                                                <h6 class="text-uppercase">سن</h6>
                                                                <h5>{{personel.age}}</h5>
                                                            </div>
                                                            <div class="col-4">
                                                                <h6 class="text-uppercase">سمت</h6>
                                                                <h5>{{personel.field}}</h5>
                                                            </div>
                                                            <div class="col-4">
                                                                <h6 class="text-uppercase"> تحصیلات </h6>
                                                                <h5> {{personel.education}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="contact-info px-4">
                                                        <h4 class="text-dark mb-1">آدرس </h4>
                                                        <p class="text-dark font-weight-medium pt-3 mb-2"> آدرس ایمیل
                                                        </p>
                                                        <p><a class="__cf_email__">{{personel.email}}</a>
                                                        </p>
                                                        <p class="text-dark font-weight-medium pt-3 mb-2"> شماره تلفن
                                                        </p>
                                                        <p>{{personel.phone_number}}</p>
                                                        <p class="text-dark font-weight-medium pt-3 mb-2"> تاریخ تولد
                                                        </p>
                                                        <p>{{personel.birthday}}</p>
                                                        <p class="text-dark font-weight-medium pt-3 mb-2">آدرس</p>
                                                        <p class="mb-2">{{personel.address}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
{% endblock content %}