{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
    <div class="ec-content-wrapper">
        <div class="content">
            <div class="row">
                <div class="ec-content-wrapper">
                    <div class="content">
                        <div class="breadcrumb-wrapper d-flex align-items-center justify-content-between">
                            <div>
                                <h1>محصولات</h1>
                                <p class="breadcrumbs"><span><a href="index.html">خانه</a></span> <span><i
                                            class="mdi mdi-chevron-left"></i></span>محصولات</p>
                            </div>
                            <div><a href="addproduct.html" class="btn btn-primary">افزودن محصول</a></div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card card-default">
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="responsive-data-table" class="table" style="width:100%">
                                                <thead>
                                                    <tr>
                                                        <th>محصولات</th>
                                                        <th>نام</th>
                                                        <th>قیمت</th>
                                                        <th>تخفیف</th>
                                                        <th>خریداری شده</th>
                                                        <th>موجودی</th>
                                                        <th>تاریخ</th>
                                                        <th>فعالیت</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for product in products %}
                                                    <tr>
                                                        <td><img class="tbl-thumb"
                                                                src="{{product.image0}}"
                                                                alt="Product Image"></td>
                                                        <td>{{product.name}}</td>
                                                        <td>{{product.price}} تومان</td>
                                                        <td>{{product.discount_percentage}}% تخفیف</td>
                                                        <td>{{product.quantity_purchased}}</td>
                                                        <td>{{product.inventory}}</td>
                                                        <td>{{product.date_added}}</td>
                                                        <td>
                                                            <div class="btn-group mb-1"><a
                                                                    href="productdetail.html" type="button"
                                                                    class="btn btn-outline-success">محصول</a>
                                                                <button type="button"
                                                                    class="btn btn-outline-success dropdown-toggle dropdown-toggle-split"
                                                                    data-bs-toggle="dropdown"
                                                                    aria-haspopup="true" aria-expanded="false"
                                                                    data-display="static"><span
                                                                        class="sr-only">محصول</span></button>
                                                                <div class="dropdown-menu"><a
                                                                        class="dropdown-item"
                                                                        href="{% url 'adminP:product_edit' product.pk %}">ویرایش</a> <a
                                                                        {% comment %} class="dropdown-item" href="#">حذف</a> {% endcomment %}
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}