{% extends "base.html" %}
{% load static %}

{% block section %}

<!-- User history section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->



            <div class="dropdown">
                <button class="dropbtn">Services and tariffs</button>
                <div class="dropdown-content">
                    <a onclick="document.getElementById('taarefe').style.display = 'none',document.getElementById('khadamat').style.display = 'block'">Services</a>
                    <a onclick="document.getElementById('taarefe').style.display = 'block',document.getElementById('khadamat').style.display = 'none'">Tariffs</a>
                </div>
            </div>

            <div class="mt-5 col-lg-12 col-md-12" id="khadamat">
                <div class="ec-vendor-dashboard-card">
                    <div class="ec-vendor-card-header">
                        <h5>Services list</h5>
                    </div>
                    <div class="ec-vendor-card-body">
                        <div class="ec-vendor-card-table">
                            <table class="table ec-table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Service</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <th scope="row"><span>1</span></th>
                                            <td><span>service {{ service.pk }}</span></td>
                                            <td><span>{{ service.price }} Toman</span></td>
                                            <td><span>فعال</span></td>
                                            <td><span class="tbl-btn"><a class="btn btn-lg btn-primary"
                                                        href="{% url 'khedmatDetail' pk=service.pk %}">Service</a></span></td>
                                        </tr>
                                    {% endfor %}


                                    <!-- <thead>
                                    <tr>
                                        <th scope="col">شناسه</th>
                                        <th scope="col">نام</th>
                                        <th scope="col">قیمت</th>
                                        <th scope="col">وضعیت</th>
                                        <th scope="col">خدمت</th>
                                    </tr>
                                </thead></tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5 col-lg-12 col-md-12" id="taarefe" style="display: none;">
                <div class="ec-vendor-dashboard-card">
                    <div class="ec-vendor-card-header">
                        <h5>List of tariffs</h5>
                    </div>
                    <div class="ec-vendor-card-body">
                        <div class="ec-vendor-card-table">
                            <table class="table ec-table">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Service</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for service in services %}
                                        <tr>
                                            <th scope="row"><span>1</span></th>
                                            <td><span>service {{ service.pk }}</span></td>
                                            <td><span>{{ service.price }} Toman</span></td>
                                            <td><span>فعال</span></td>
                                            <td><span class="tbl-btn"><a class="btn btn-lg btn-primary"
                                                        href="{% url 'khedmatDetail' pk=service.pk %}">Service</a></span></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User history section -->
{% endblock %}