{% extends "base.html" %}
{% load static %}

{% block section %}


{% if not lang %}
<!-- Start Register -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">ویرایش اطلاعات</h2>
                    <h2 class="ec-title">ویرایش اطلاعات</h2>
                    <!-- <p class="sub-title mb-3">بهترین مکان برای خرید و فروش محصولات ضد حریق</p> -->
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">
                        <form action="{% url 'editProfile' %}" method="POST">
                            {% csrf_token %}
                            <span class="ec-register-wrap">
                                <label for="{{ register_form.name.id_for_label }}">نام و نام خانوادگی *</label>
                                <input type="text" name="name" placeholder="نام خود را وارد کنید" required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.email.id_for_label }}">ایمیل*</label>
                                <input type="email" for="email" name="email" placeholder="وارد کردن ایمیل " required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.phone_number.id_for_label }}">شماره تماس*</label>
                                <input type="text" name="phone_number" placeholder="شماره تماس خود را وارد کنید" required="">
                            </span>
                            <span class="ec-register-wrap">
                                <label for="{{ register_form.address.id_for_label }}">آدرس</label>
                                <input type="text" name="address" placeholder="آدرس خط اول">
                            </span>
                            
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.postal_code.id_for_label }}">کد پستی</label>
                                <input type="text" name="postal_code" placeholder="کدپستی">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.city.id_for_label }}">شهر</label>
                                <input type="text" name="postalcode" placeholder="شهر">
                            </span>

                            
                            <!-- <span class="ec-register-wrap ec-recaptcha">
                                <span class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></span>
                                <input class="form-control d-none" data-recaptcha="true" required="" data-error="Please complete the Captcha">
                                <span class="help-block with-errors"></span>
                            </span> -->
                            <!-- <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">ویرایش اطلاعات</button>
                            </span> -->
                            {% for field in update_form %}
                                {% for error in field.errors %}
                                <div id="">{{ field.html_name }} --> {{ error }}</div>
                                <!-- </br> -->
                                {% endfor %}
                            {% endfor %}
                            <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">ویرایش اطلاعات</button>
                                <!-- <input class="btn btn-primary" type="submit" placeholder="ویرایش اطلاعات"> -->
                            </span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->

{% else %}

<!-- Start Register -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">editing information</h2>
                    <h2 class="ec-title">editing information</h2>
                    <!-- <p class="sub-title mb-3">بهترین مکان برای خرید و فروش محصولات ضد حریق</p> -->
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">
                        <form action="{% url 'editProfile' %}" method="POST">
                            {% csrf_token %}
                            <span class="ec-register-wrap">
                                <label for="{{ register_form.name.id_for_label }}">Full name *</label>
                                <input type="text" name="name" placeholder="Enter your name" required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.email.id_for_label }}">Email*</label>
                                <input type="email" for="email" name="email" placeholder="Enter email " required="">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.phone_number.id_for_label }}">Phone number*</label>
                                <input type="text" name="phone_number" placeholder="Enter your phone number" required="">
                            </span>
                            <span class="ec-register-wrap">
                                <label for="{{ register_form.address.id_for_label }}">Address</label>
                                <input type="text" name="address" placeholder="First line address">
                            </span>
                            
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.postal_code.id_for_label }}">Postal code</label>
                                <input type="text" name="postal_code" placeholder="Postal code">
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                <label for="{{ register_form.city.id_for_label }}">City</label>
                                <input type="text" name="postalcode" placeholder="City">
                            </span>

                            
                            <!-- <span class="ec-register-wrap ec-recaptcha">
                                <span class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></span>
                                <input class="form-control d-none" data-recaptcha="true" required="" data-error="Please complete the Captcha">
                                <span class="help-block with-errors"></span>
                            </span> -->
                            <!-- <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">ویرایش اطلاعات</button>
                            </span> -->
                            {% for field in update_form %}
                                {% for error in field.errors %}
                                <div id="">{{ field.html_name }} --> {{ error }}</div>
                                <!-- </br> -->
                                {% endfor %}
                            {% endfor %}
                            <span class="ec-register-wrap ec-register-btn">
                                <button class="btn btn-primary" type="submit">Editing information</button>
                                <!-- <input class="btn btn-primary" type="submit" placeholder="ویرایش اطلاعات"> -->
                            </span>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->

{% endif %}

{% endblock %}