{% extends "base.html" %}
{% load static %}

{% block content %}

{% if not lang %}
    <!-- Ec login page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">فراموشی رمز عبور</h2>
                        <h2 class="ec-title">فراموشی رمز عبور</h2>
                        <p class="sub-title mb-3">بهترین مکان برای خرید و فروش محصولات دیجیتال</p>
                    </div>
                </div>
                <div class="ec-login-wrapper">
                    <div class="ec-login-container">
                        <div class="ec-login-form">
                            <form action="#" method="post">
                                <span class="ec-login-wrap">
                                    <label>آدرس ایمیل*</label>
                                    <input type="text" name="name" placeholder="وارد کردن ایمیل ..." required="">
                                </span>
                                <span class="ec-login-wrap ec-login-btn">
                                    <button class="btn btn-primary" type="submit">ارسال لینک به ایمیل</button>
                                    <a href="register.html" class="btn btn-secondary">ثبت نام</a>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% else %}

<!-- Ec login page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Forget password</h2>
                    <h2 class="ec-title">Forget password</h2>
                    <p class="sub-title mb-3">The best place to buy and sell digital products</p>
                </div>
            </div>
            <div class="ec-login-wrapper">
                <div class="ec-login-container">
                    <div class="ec-login-form">
                        <form action="#" method="post">
                            <span class="ec-login-wrap">
                                <label>Email *</label>
                                <input type="text" name="name" placeholder="Enter email ..." required="">
                            </span>
                            <span class="ec-login-wrap ec-login-btn">
                                <button class="btn btn-primary" type="submit">Send link to email</button>
                                <a href="register.html" class="btn btn-secondary">Register</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
    
{% endblock %}