{% extends "base.html" %}

{% block section %}

{% if not lang %}
<!-- Ec Contact Us page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-common-wrapper">
                <div class="ec-contact-leftside">
                    <div class="ec-contact-container">
                        <div class="ec-contact-form">
                            <form action="#" method="post">
                                <span class="ec-contact-wrap">
                                    <label>نام *</label>
                                    <input type="text" name="firstname" placeholder="نام خود را وارد کنید"
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label> نام خانوادگی *</label>
                                    <input type="text" name="lastname" placeholder="نام خانوادگی خود را وارد کنید"
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>ایمیل*</label>
                                    <input type="email" name="email" placeholder="ورود آدرس ایمیل" required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>شماره تماس*</label>
                                    <input type="text" name="phonenumber" placeholder="شماره تماس خود را وارد کنید"
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>توضیحات همکاری*</label>
                                    <textarea name="address" placeholder="توضیحات بیشتر.."></textarea>
                                </span>
                                <span class="ec-contact-wrap ec-recaptcha">
                                    <span class="g-recaptcha"
                                        data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
                                        data-callback="verifyRecaptchaCallback"
                                        data-expired-callback="expiredRecaptchaCallback"></span>
                                    <input class="form-control d-none" data-recaptcha="true" required=""
                                        data-error="Please complete the Captcha">
                                    <span class="help-block with-errors"></span>
                                </span>
                                <span class="ec-contact-wrap ec-contact-btn">
                                    <button class="btn btn-primary" type="submit">ارسال</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ec-contact-rightside">
                    
                    <div class="ec_contact_info">
                        <h1 class="ec_contact_info_head">همکاری با ما</h1>
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% else %}


<!-- Ec Contact Us page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="ec-common-wrapper">
                <div class="ec-contact-leftside">
                    <div class="ec-contact-container">
                        <div class="ec-contact-form">
                            <form action="#" method="post">
                                <span class="ec-contact-wrap">
                                    <label>first name *</label>
                                    <input type="text" name="firstname" placeholder="Enter your first name..."
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Last name *</label>
                                    <input type="text" name="lastname" placeholder="Enter your last name..."
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Email*</label>
                                    <input type="email" name="email" placeholder="Enter your email" required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Phone number*</label>
                                    <input type="text" name="phonenumber" placeholder="Enter your phone number"
                                        required="">
                                </span>
                                <span class="ec-contact-wrap">
                                    <label>Description of cooperation*</label>
                                    <textarea name="address" placeholder="more details.."></textarea>
                                </span>
                                <span class="ec-contact-wrap ec-recaptcha">
                                    <span class="g-recaptcha"
                                        data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"
                                        data-callback="verifyRecaptchaCallback"
                                        data-expired-callback="expiredRecaptchaCallback"></span>
                                    <input class="form-control d-none" data-recaptcha="true" required=""
                                        data-error="Please complete the Captcha">
                                    <span class="help-block with-errors"></span>
                                </span>
                                <span class="ec-contact-wrap ec-contact-btn">
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="ec-contact-rightside">
                    
                    <div class="ec_contact_info">
                        <h1 class="ec_contact_info_head">Work with us</h1>
                        <div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endif %}

{% endblock %}