{% extends "base.html" %}
{% load static %}

{% block section %}
<!-- Ec Shop page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-shop-rightside col-lg-9 col-md-12 order-lg-last order-md-first margin-b-30">
                    <!-- Shop Top Start -->
                    <div class="ec-pro-list-top d-flex">
                        <div class="col-md-6 ec-grid-list">
                            <div class="ec-gl-btn">

                                <button class="btn btn-grid-50 active"><img src="{% static 'images/icons/grid.svg' %}"
                                        class="svg_img gl_svg" alt="grid"></button>
                                <button class="btn btn-list-50"><img src="{% static 'images/icons/list.svg' %}"
                                        class="svg_img gl_svg" alt="list"></button>
                            </div>
                        </div>
                        <div class="col-md-6 ec-sort-select">

                        </div>
                    </div>
                    <!-- Shop Top End -->

                    <!-- Shop content Start -->
                    <div class="shop-pro-content">
                        <div class="shop-pro-inner">
                            <div class="row">

                                <!-- Producs stat here -->

                                {% for product in products %}
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content d1 ad">
                                    <a href="{% url 'product' pk=product.pk %}">   
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="{% url 'product' pk=product.pk %}" class="image"
                                                        style="border-radius: 7px;">
                                                        <img class="main-image"
                                                            src="{% static 'images/product-image/1_1.jpg' %}" alt="Product">
                                                        <img class="hover-image"
                                                            src="{% static 'images/product-image/1_2.jpg' %}" alt="Product">
                                                    </a>
                                                    <span class="percentage">20%</span>

                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href="{% url 'product' pk=product.pk %}">{{ product.name }}</a> </h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star"></i>
                                                </div>
                                                <div class="ec-pro-list-desc">لورم ایپسوم متن ساختگی با تولید سادگی
                                                    نامفهوم از صنعت چاپ،
                                                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و
                                                    سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                                    کاربردهای متنوع
                                                    با هدف بهبود ابزارهای کاربردی م
                                                </div>
                                                <span class="ec-price">
                                                    <!-- <span class="old-price">2700 تومان</span> -->
                                                    <span class="new-price">{{ product.price }} تومان</span>
                                                </span>
                                                <div class="ec-pro-option">

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}






                                <!-- <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content d2 ad">
                                    <a href="productDetail.html">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="productDetail.html" class="image"
                                                        style="border-radius: 7px;">
                                                        <img class="main-image"
                                                            src="{% static 'images/product-image/1_1.jpg' %}" alt="Product">
                                                        <img class="hover-image"
                                                            src="{% static 'images/product-image/1_2.jpg' %}" alt="Product">
                                                    </a>
                                                    <span class="percentage">20%</span>

                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href='productDetail.html'>کپسول</a> </h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star"></i>
                                                </div>
                                                <div class="ec-pro-list-desc">لورم ایپسوم متن ساختگی با تولید سادگی
                                                    نامفهوم از صنعت چاپ،
                                                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و
                                                    سطرآنچنان که لازم است، و برای ش
                                                </div>
                                                <span class="ec-price">
                                                    <span class="old-price">2700 تومان</span>
                                                    <span class="new-price">2200 تومان</span>
                                                </span>
                                                <div class="ec-pro-option">

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>








                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content d3 ad">
                                    <a href="productDetail.html">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="productDetail.html" class="image"
                                                        style="border-radius: 7px;">
                                                        <img class="main-image"
                                                            src="{% static 'images/product-image/1_1.jpg' %}" alt="Product">
                                                        <img class="hover-image"
                                                            src="{% static 'images/product-image/1_2.jpg' %}" alt="Product">
                                                    </a>
                                                    <span class="percentage">20%</span>

                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href='productDetail.html'>کپسول</a> </h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star"></i>
                                                </div>
                                                <div class="ec-pro-list-desc">لورم ایپسوم متن ساختگی با تولید سادگی
                                                    نامفهوم از صنعت چاپ،
                                                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و
                                                    سطرآنچنان که لازم است، و برای
                                                </div>
                                                <span class="ec-price">
                                                    <span class="old-price">2700 تومان</span>
                                                    <span class="new-price">2200 تومان</span>
                                                </span>
                                                <div class="ec-pro-option">

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>







                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content d4 ad">
                                    <a href="productDetail.html">
                                        <div class="ec-product-inner">
                                            <div class="ec-pro-image-outer">
                                                <div class="ec-pro-image">
                                                    <a href="productDetail.html" class="image"
                                                        style="border-radius: 7px;">
                                                        <img class="main-image"
                                                            src="{% static 'images/product-image/1_1.jpg' %}" alt="Product">
                                                        <img class="hover-image"
                                                            src="{% static 'images/product-image/1_2.jpg' %}" alt="Product">
                                                    </a>
                                                    <span class="percentage">20%</span>

                                                </div>
                                            </div>
                                            <div class="ec-pro-content">
                                                <h5 class="ec-pro-title"><a href='productDetail.html'>کپسول</a> </h5>
                                                <div class="ec-pro-rating">
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star fill"></i>
                                                    <i class="ecicon eci-star"></i>
                                                </div>
                                                <div class="ec-pro-list-desc">لورم ایپسوم متن ساختگی با تولید سادگی
                                                    نامفهوم از صنعت چاپ،
                                                    و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                                                    مجله در ستون و
                                                    سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و
                                                    کاربردهای متنوع
                                                    با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیا
                                                </div>
                                                <span class="ec-price">
                                                    <span class="old-price">2700 تومان</span>
                                                    <span class="new-price">2200 تومان</span>
                                                </span>
                                                <div class="ec-pro-option">

                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div> -->

                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination">
                            <span>نمایش 1-12 از 21 مورد</span>
                            <ul class="ec-pro-pagination-inner">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a class="next" href="#">بعدی<i class="ecicon eci-angle-left"></i></a></li>
                            </ul>
                        </div>
                        <!-- Ec Pagination End -->
                    </div>
                    <!--Shop content End -->
                </div>
                <!-- Sidebar Area Start -->
                <div class="ec-shop-leftside col-lg-3 col-md-12 order-lg-first order-md-last">
                    <div id="shop_sidebar">
                        <div class="ec-sidebar-heading">
                            <h1>محصولات فیلتر شده</h1>
                        </div>
                        <div class="ec-sidebar-wrap">
                            <!-- Sidebar Category Block -->
                            <div class="ec-sidebar-block">
                                <div class="ec-sb-title">
                                    <h3 class="ec-sidebar-title">دسته‌بندی‌ها</h3>
                                </div>
                                <div class="ec-sb-block-content">
                                    <ul>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" checked="" id="c1"> <a href="#">همه</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c2"> <a href="#">دسته بندی 1</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c3"> <a href="#">دسته بندی 2</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c4"> <a href="#">دسته بندی 3</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c5"> <a href="#">دسته بندی 4</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c6"> <a href="#">دسته بندی 5</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="ec-sidebar-block-item">
                                                <input class="check" type="checkbox" id="c7"> <a href="#">دسته بندی 6</a><span
                                                    class="checked"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <a style="background-color: white;color: black;padding: 4px 20px;border-radius: 20px;font-weight: bold;text-align: center;display: flex;justify-content: center;align-items: center;">اعمال</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sidebar Area Start -->
                <div class="filter-sidebar-overlay"></div>


            </div>
        </div>
    </section>
    <!-- End Shop page -->

{% endblock %}