{% extends "base.html" %}
{% load static %}

{% block section %}

{% if not lang %}
    <!-- Ec Blog page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-blogs-rightside col-lg-12 col-md-12">

                    <!-- Blog content Start -->
                    <div class="ec-blogs-content">
                        <div class="ec-blogs-inner">
                            <div class="row">
                                {% for project in projects %}
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-6 ec-blog-block">
                                        <div class="ec-blog-inner">
                                            <div class="ec-blog-image">
                                                <a href=" ">
                                                    <img class="blog-image" src="{% static 'images/blog-image/1.jpg' %}" alt="Blog">
                                                </a>
                                            </div>
                                            <div class="ec-blog-content">
                                                <h5 class="ec-blog-title"><a href=" ">{{ project.title }}</a></h5>

                                                <div class="ec-blog-date">توسط<span>ادمین</span>{{ project.released_date }}</div>
                                                <div class="ec-blog-desc">{{ project.meta_description }}</div>

                                                <div class="ec-blog-btn"><a href="{% url 'project' pk=project.pk %}" class="btn btn-primary">بیشتر بخوانید</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination">
                            <span>نمایش همه</span>
                            <!-- <ul class="ec-pro-pagination-inner">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a class="next" href="#">بعدی<i class="ecicon eci-angle-left"></i></a></li>
                            </ul> -->
                        </div>
                        <!-- Ec Pagination End -->
                    </div>
                    <!--Blog content End -->
                </div>
            </div>
        </div>
    </section>


{% else %}

    <!-- Ec Blog page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-blogs-rightside col-lg-12 col-md-12">

                    <!-- Blog content Start -->
                    <div class="ec-blogs-content">
                        <div class="ec-blogs-inner">
                            <div class="row">
                                {% for project in projects %}
                                    <div class="col-lg-4 col-md-6 col-sm-12 mb-6 ec-blog-block">
                                        <div class="ec-blog-inner">
                                            <div class="ec-blog-image">
                                                <a href=" ">
                                                    <img class="blog-image" src="{% static 'images/blog-image/1.jpg' %}" alt="Blog">
                                                </a>
                                            </div>
                                            <div class="ec-blog-content">
                                                <h5 class="ec-blog-title"><a href=" ">{{ project.title }}</a></h5>

                                                <div class="ec-blog-date">By<span>Admin</span>{{ project.released_date }}</div>
                                                <div class="ec-blog-desc">{{ project.meta_description }}</div>

                                                <div class="ec-blog-btn"><a href="{% url 'project' pk=project.pk %}" class="btn btn-primary">More details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                
                            </div>
                        </div>
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination">
                            <span>Show all</span>
                            <!-- <ul class="ec-pro-pagination-inner">
                                <li><a class="active" href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a class="next" href="#">Next<i class="ecicon eci-angle-left"></i></a></li>
                            </ul> -->
                        </div>
                        <!-- Ec Pagination End -->
                    </div>
                    <!--Blog content End -->
                </div>
            </div>
        </div>
    </section>


{% endif %}


{% endblock %}