{% extends "base.html" %}
{% load static %}

{% block section %}

{% if not lang %}
    <!-- Ec login page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">تغییر رمز عبور</h2>
                        <h2 class="ec-title">تغییر رمز عبور</h2>
                        <p class="sub-title mb-3">بهترین مکان برای خرید و فروش محصولات دیجیتال</p>
                    </div>
                </div>
                <div class="ec-login-wrapper">
                    <div class="ec-login-container">
                        <div class="ec-login-form">
                            <form action="#" method="post">
                                <span class="ec-login-wrap">
                                    <label>رمزعبور جدید</label>
                                    <input type="text" name="name" placeholder="وارد کردن ایمیل ..." required="">
                                </span>
                                <span class="ec-login-wrap ec-login-btn">
                                    <button class="btn btn-primary" type="submit">تغییر رمز عبور</button>
                                    <a href="register.html" class="btn btn-secondary">ثبت نام</a>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% else %}

<!-- Ec login page -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Change your password</h2>
                    <h2 class="ec-title">Change your password</h2>
                    <!-- <p class="sub-title mb-3">بهترین مکان برای خرید و فروش محصولات دیجیتال</p> -->
                </div>
            </div>
            <div class="ec-login-wrapper">
                <div class="ec-login-container">
                    <div class="ec-login-form">
                        <form action="#" method="post">
                            <span class="ec-login-wrap">
                                <label>New password</label>
                                <input type="text" name="name" placeholder="Enter your email ..." required="">
                            </span>
                            <span class="ec-login-wrap ec-login-btn">
                                <button class="btn btn-primary" type="submit">Change password</button>
                                <a href="register.html" class="btn btn-secondary">Register</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}