{% extends "base.html" %}
{% load static %}

{% block section %}

<!-- User invoice section -->
<section class="ec-page-content ec-vendor-uploads ec-user-account section-space-p">
    <div class="container">
        <div class="row">
            <!-- Sidebar Area Start -->
            <div class="ec-shop-leftside ec-vendor-sidebar col-lg-3 col-md-12">
                <div class="ec-sidebar-wrap">
                    <!-- Sidebar Category Block -->
                    <div class="ec-sidebar-block">
                        <div class="ec-vendor-block">
                            <!-- <div class="ec-vendor-block-bg"></div>
                            <div class="ec-vendor-block-detail">
                                <img class="v-img" src="assets/images/user/1.jpg" alt="vendor image">
                                <h5>مارینا ازاد</h5>
                            </div> -->
                            <div class="ec-vendor-block-items">
                                <ul>
                                    <li><a href="{% url 'userProfile' %}">پروفایل کاربر</a></li>
                                    <li><a href="{% url 'userHistory' %}">تاریخچه</a></li>
                                    <li><a href="{% url 'cart' %}">سبد خرید</a></li>
                                    <li><a href="{% url 'logout' %}">خروح از حساب کاربری</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ec-shop-rightside col-lg-9 col-md-12">
                <div class="ec-vendor-dashboard-card">
                    <div class="ec-vendor-card-header">
                        <h5>فاکتور</h5>
                        
                    </div>
                    <div class="ec-vendor-card-body padding-b-0">
                        <div class="page-content">
                            <div class="page-header text-blue-d2">
                                <img src="assets/images/logo/logo.png" alt="لوگو سایت">
                            </div>

                            <div class="container px-0">
                                <div class="row mt-4">
                                    <div class="col-lg-12">
                                        <hr class="row brc-default-l1 mx-n1 mb-4">

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="my-2">
                                                    <span class="text-sm text-grey-m2 align-middle">به : </span>
                                                    <span class="text-600 text-110 text-blue align-middle">{{ invoice.customer.name }}</span>
                                                </div>
                                                <div class="text-grey-m2">
                                                    <div class="my-2">
                                                        {{ invoice.address }}
                                                    </div>
                                                    <!-- <div class="my-2">
                                                    یک آدرس فرضی در اینجا
                                                    </div> -->
                                                    <div class="my-2"><b class="text-600">تلفن : </b>{{ invoice.phone_number }}
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.col -->

                                            <div class="text-95 col-sm-6 align-self-start d-sm-flex justify-content-end">
                                                <hr class="d-sm-none">
                                                <div class="text-grey-m2">

                                                    <div class="my-2"><span class="text-600 text-90">شناسه : </span>
                                                        #111-222</div>

                                                    <div class="my-2"><span class="text-600 text-90">کد سفارش :
                                                        </span> #123456</div>
                                                    <div class="my-2"><span class="text-600 text-90">تاریخ انتشار :
                                                        </span> {{ invoice.ordered_date }}</div>

                                                    <div class="my-2"><span class="text-600 text-90">شماره فاکتور :
                                                        </span>{{ invoice.pk }}</div>
                                                </div>
                                            </div>
                                            <!-- /.col -->
                                        </div>

                                        <div class="mt-4">

                                            <div class="text-95 text-secondary-d3">
                                                <div class="ec-vendor-card-table">
                                                    <table class="table ec-table">
                                                        <thead>
                                                            <tr>
                                                                <th scope="col">شناسه</th>
                                                                <th scope="col">نام</th>
                                                                <th scope="col">تعداد</th>
                                                                <th scope="col">قیمت</th>
                                                                <th scope="col">مقدار</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for item in invoice.loaded_json_items %}
                                                                <tr>
                                                                    <th><span>{{ item.pk }}</span></th>
                                                                    <td><span>{{ item.name  }}</span></td>
                                                                    <td><span>{{ item.quantity }}</span></td>
                                                                    <td><span>{{ item.price }} تومان</span></td>
                                                                    <td><span>{{ item.total_price }} تومان</span></td>
                                                                </tr>
                                                            {% endfor %}

                                                            
                                                            <!-- <tr>
                                                                <th><span>548</span></th>
                                                                <td><span>پیراهن پارچه پنبه مردانه</span></td>
                                                                <td><span>3</span></td>
                                                                <td><span>10 تومان</span></td>
                                                                <td><span>30 تومان</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th><span>684</span></th>
                                                                <td><span>کفش کودکانه</span></td>
                                                                <td><span>1</span></td>
                                                                <td><span>360 تومان</span></td>
                                                                <td><span>360 تومان</span></td>
                                                            </tr>
                                                            <tr>
                                                                <th><span>987</span></th>
                                                                <td><span>کیف دستی زنانه</span></td>
                                                                <td><span>5</span></td>
                                                                <td><span>50 تومان</span></td>
                                                                <td><span>250 تومان</span></td>
                                                            </tr> -->
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td class="border-none" colspan="3">
                                                                    <span></span></td>
                                                                <td class="border-color" colspan="1">
                                                                    <span><strong>ریزهزینه</strong></span></td>
                                                                <td class="border-color">
                                                                    <span>{{ invoice.items_price }} تومان</span></td>
                                                            </tr>

                                                            <tr>
                                                                <td class="border-none" colspan="3">
                                                                    <span></span></td>
                                                                <td class="border-color" colspan="1">
                                                                    <span><strong>هزینه ارسال</strong></span></td>
                                                                <td class="border-color">
                                                                    <span>{{ invoice.shipping_price }} تومان</span></td>
                                                            </tr>

                                                            <!-- <tr>
                                                                <td class="border-none" colspan="3">
                                                                    <span></span></td>
                                                                <td class="border-color" colspan="1">
                                                                    <span><strong>مالیات (10%)</strong></span></td>
                                                                <td class="border-color">
                                                                    <span>352 تومان</span></td>
                                                            </tr> -->
                                                            <tr>
                                                                <td class="border-none m-m15" colspan="3"><span class="note-text-color">
                                                                    یادداشت اضافی مانند شرکت یا اطلاعات پرداخت ...</span></td>
                                                                <td class="border-color m-m15" colspan="1"><span><strong>کل</strong></span>
                                                                </td>
                                                                <td class="border-color m-m15">
                                                                    <span>{{ invoice.finished_price }} تومان</span></td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End User invoice section -->
{% endblock %}