{% extends "base.html" %}

{% block section %}

<!-- Main Slider Start -->
    <div class="sticky-header-next-sec ec-main-slider section section-space-pb">
        <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
            <!-- Main slider -->
            <div class="swiper-wrapper">
                <style>
                    #i1 {
                        background-image: url(./assets/images/newimg/2.jpg);
                        width: 100%;
                    }

                    #i2 {
                        background-image: url(./assets/images/newimg/wp10676104.jpg);
                        width: 100%;
                    }
                </style>
                <div class="ec-slide-item swiper-slide d-flex ec-slide-1" id="i1">
                    <div class="container align-self-center">
                        <div class="">
                            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h1 class="ec-slide-title flipText"> مجموعه جدید فروش تابستان </h1>
                                    <h2 class="ec-slide-stitle flipText">پیشنهاد خرید</h2>
                                    <p class="flipText">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ec-slide-item swiper-slide d-flex ec-slide-1" id="i2">
                    <div class="container align-self-center">
                        <div class="">
                            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h1 class="ec-slide-title flipText"> کپسول اتش نشانی </h1>
                                    <h2 class="ec-slide-stitle flipText">پیشنهاد خرید</h2>
                                    <p class="flipText">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination swiper-pagination-white"></div>
            <div class="swiper-buttons">
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>
    <!-- Main Slider End -->

    <!-- Product tab Area Start -->
    <section class="section ec-product-tab section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">محصولات برتر ما</h2>
                        <h2 class="ec-title">محصولات برتر ما</h2>
                        <p class="sub-title"> مرور مجموعه ای از محصولات برتر </p>
                    </div>
                </div>

                <!-- Tab Start -->
                <div class="col-md-12 text-center">
                    <ul class="ec-pro-tab-nav nav justify-content-center">
                        <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab"
                                href="#tab-pro-for-all">همه</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-kaf">حاوی کف</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-water">مبتنی بر
                                آب</a></li>
                        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-pudr">حاوی پودر
                                خشک</a></li>
                    </ul>
                </div>
                <!-- Tab End -->
            </div>
            <div class="row">
                <div class="col">
                    <div class="tab-content">
                        <!-- 1st Product tab start -->
                        <div class="tab-pane fade show active" id="tab-pro-for-all">
                            <div class="row">
                                <!-- Product Content -->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content"
                                    data-animation="fadeIn">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>
                                                <span class="percentage">20%</span>

                                                <div class="ec-pro-actions">

                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان
                                                </a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">2700 تومان</span>
                                                <span class="new-price">2200 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content"
                                    data-animation="fadeIn">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>

                                                <div class="ec-pro-actions">
                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان</a>
                                            </h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">1200 تومان</span>
                                                <span class="new-price">1000 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ec 1st Product tab end -->
                        <!-- ec 2nd Product tab start -->
                        <div class="tab-pane fade" id="tab-pro-kaf">
                            <div class="row">
                                <!-- Product Content -->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>
                                                <span class="percentage">20%</span>

                                                <div class="ec-pro-actions">

                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان </a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">3000 تومان</span>
                                                <span class="new-price">2500 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>
                                                <span class="percentage">20%</span>
                                                <span class="flags">
                                                    <span class="sale">پرفروش</span>
                                                </span>

                                                <div class="ec-pro-actions">

                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">1200 تومان</span>
                                                <span class="new-price">1000 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ec 2nd Product tab end -->
                        <!-- ec 3rd Product tab start -->
                        <div class="tab-pane fade" id="tab-pro-water">
                            <div class="row">
                                <!-- Product Content -->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>
                                                <span class="percentage">20%</span>
                                                <span class="flags">
                                                    <span class="sale">پرفروش</span>
                                                </span>

                                                <div class="ec-pro-actions">

                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان</a>
                                            </h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">3000 تومان</span>
                                                <span class="new-price">2500 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ec 3rd Product tab end -->
                        <!-- ec 4th Product tab start -->
                        <div class="tab-pane fade" id="tab-pro-pudr">
                            <div class="row">
                                <!-- Product Content -->
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="  " class="image">
                                                    <img class="main-image" src="assets/images/product-image/1_1.jpg"
                                                        alt="Product">
                                                    <img class="hover-image" src="assets/images/product-image/1_2.jpg"
                                                        alt="Product">
                                                </a>
                                                <span class="percentage">20%</span>
                                                <span class="flags">
                                                    <span class="sale">پرفروش</span>
                                                </span>

                                                <div class="ec-pro-actions">

                                                    <button title="افزودن به سبد خرید" class=" add-to-cart"><img
                                                            src="assets/images/icons/cart.svg" class="svg_img pro_svg"
                                                            alt=""> افزودن به کارت </button>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="  ">عنوان</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <span class="ec-price">
                                                <span class="old-price">4000 تومان</span>
                                                <span class="new-price">3000 تومان</span>
                                            </span>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- ec 4th Product tab end -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ec Product tab Area End -->

    <!-- ec Banner Section Start -->
    <section class="ec-banner section section-space-p">
        <h2 class="d-none">بنر</h2>
        <div class="container">
            <!-- ec Banners Start -->
            <div class="ec-banner-inner">
                <!--ec Banner Start -->
                <div class="ec-banner-block ec-banner-block-2">
                    <div class="row">
                        <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
                            <div class="bnr-overlay">
                                <img src="assets/images/banner/2.jpg" alt="">
                                <div class="banner-text">
                                    <span class="ec-banner-stitle">بنر تبلیغاتی</span>
                                    <span class="ec-banner-title">کپسول <br>آتش نشانی</span>
                                    <span class="ec-banner-discount">30% تخفیف</span>
                                </div>
                                <div class="banner-content">
                                    <span class="ec-banner-btn"><a href="#">رفتن به سایت</a></span>
                                </div>
                            </div>
                        </div>
                        <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
                            <div class="bnr-overlay">
                                <img src="assets/images/banner/2.jpg" alt="">
                                <div class="banner-text">
                                    <span class="ec-banner-stitle">در حال ترند شدن</span>
                                    <span class="ec-banner-title">فروشگاه <br> هوشمند</span>
                                    <span class="ec-banner-discount">سه تا بخرید برای <br>20% تخفیف</span>
                                </div>
                                <div class="banner-content">
                                    <span class="ec-banner-btn"><a href="#">خرید</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ec Banner End -->
                </div>
                <!-- ec Banners End -->
            </div>
        </div>
    </section>
    <!-- ec Banner Section End -->


    <!--  Feature & Special Section Start -->
    <section class="section ec-fre-spe-section section-space-p">
        <div class="container">
            <div class="row">
                <!--  Feature Section Start -->
                <div class="ec-fre-section col-lg-6 col-md-6 col-sm-6 margin-b-30" data-animation="slideInRight">
                    <div class="col-md-12 text-left">
                        <div class="section-title">
                            <h2 class="ec-bg-title">محصولات اخیر</h2>
                            <h2 class="ec-title">محصولات اخیر</h2>
                        </div>
                    </div>

                    <div class="ec-fre-products">
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="  " class="image"><img class="main-image"
                                                src="assets/images/product-image/1_1.jpg" alt="Product"></a>
                                        <a href="#" class="quickview" data-link-action="quickview" title="مشاهده"
                                            data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><img
                                                src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-fs-pro-title"><a href="  ">عنوان محصول
                                        </a>
                                    </h5>
                                    <div class="ec-fs-pro-rating">
                                        <span class="ec-fs-rating-icon">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star"></i>
                                        </span>
                                        <span class="ec-fs-rating-text">4 نظر</span>
                                    </div>
                                    <div class="ec-fs-price">
                                        <span class="new-price">4800 تومان</span>
                                    </div>

                                    <div class="ec-fs-pro-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ و با استفاده از طراحان گرافیک است
                                    </div>
                                    <div class="ec-fs-pro-btn">
                                        <a href="#" class="btn btn-lg btn-primary">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="  " class="image"><img class="main-image"
                                                src="assets/images/product-image/1_1.jpg" alt="Product"></a>
                                        <a href="#" class="quickview" data-link-action="quickview" title="مشاهده"
                                            data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><img
                                                src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-fs-pro-title"><a href="  ">عنوان محصول
                                        </a>
                                    </h5>
                                    <div class="ec-fs-pro-rating">
                                        <span class="ec-fs-rating-icon">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star"></i>
                                        </span>
                                        <span class="ec-fs-rating-text">4 نظر</span>
                                    </div>
                                    <div class="ec-fs-price">
                                        <span class="new-price">4800 تومان</span>
                                    </div>

                                    <div class="ec-fs-pro-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ و با استفاده از طراحان گرافیک است
                                    </div>
                                    <div class="ec-fs-pro-btn">
                                        <a href="#" class="btn btn-lg btn-primary">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Feature Section End -->
                <!--  Special Section Start -->
                <div class="ec-spe-section col-lg-6 col-md-6 col-sm-6" data-animation="slideInLeft">
                    <div class="col-md-12 text-left">
                        <div class="section-title">
                            <h2 class="ec-bg-title">محصولات تخفیف دار</h2>
                            <h2 class="ec-title">محصولات تخفیف دار</h2>
                        </div>
                    </div>

                    <div class="ec-spe-products">
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="  " class="image"><img class="main-image"
                                                src="assets/images/product-image/1_1.jpg" alt="Product"></a>
                                        <a href="#" class="quickview" data-link-action="quickview" title="مشاهده"
                                            data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><img
                                                src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-fs-pro-title"><a href="  ">عنوان محصول</a>
                                    </h5>
                                    <div class="ec-fs-pro-rating">
                                        <span class="ec-fs-rating-icon">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star"></i>
                                        </span>
                                        <span class="ec-fs-rating-text">4 نظر</span>
                                    </div>
                                    <div class="ec-fs-price">
                                        <span class="old-price">2000 تومان</span>
                                        <span class="new-price">1800 تومان</span>
                                    </div>
                                    <div class="ec-fs-pro-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ و با استفاده از طراحان گرافیک است
                                    </div>
                                    <div class="ec-fs-pro-btn">
                                        <a href="#" class="btn btn-lg btn-primary">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ec-fs-product">
                            <div class="ec-fs-pro-inner">
                                <div class="ec-fs-pro-image-outer col-lg-6 col-md-6 col-sm-6">
                                    <div class="ec-fs-pro-image">
                                        <a href="  " class="image"><img class="main-image"
                                                src="assets/images/product-image/1_1.jpg" alt="Product"></a>
                                        <a href="#" class="quickview" data-link-action="quickview" title="مشاهده"
                                            data-bs-toggle="modal" data-bs-target="#ec_quickview_modal"><img
                                                src="assets/images/icons/quickview.svg" class="svg_img pro_svg"
                                                alt=""></a>
                                    </div>
                                </div>
                                <div class="ec-fs-pro-content col-lg-6 col-md-6 col-sm-6">
                                    <h5 class="ec-fs-pro-title"><a href="  ">عنوان</a>
                                    </h5>
                                    <div class="ec-fs-pro-rating">
                                        <span class="ec-fs-rating-icon">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                        </span>
                                        <span class="ec-fs-rating-text">4 نظر</span>
                                    </div>
                                    <div class="ec-fs-price">
                                        <span class="old-price">12000 تومان</span>
                                        <span class="new-price">9500 تومان</span>
                                    </div>

                                    <div class="ec-fs-pro-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                                        چاپ و با استفاده از طراحان گرافیک است
                                    </div>
                                    <div class="ec-fs-pro-btn">
                                        <a href="#" class="btn btn-lg btn-primary">خرید</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  Special Section End -->
            </div>
        </div>
    </section>
    <!-- Feature & Special Section End -->

    <!--  services Section Start -->
    <section class="section ec-services-section section-space-p">
        <h2 class="d-none">خدمات</h2>
        <div class="container">
            <div class="row">
                <div class="ec_ser_content ec_ser_content_1 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                    <div class="ec_ser_inner">
                        <div class="ec-service-image">
                            <img src="assets/images/icons/service_1.svg" class="svg_img" alt="">
                        </div>
                        <div class="ec-service-desc">
                            <h2> ارسال رایگان </h2>
                            <p> ارسال رایگان برای سفارشات بالای 200 هزارتومان</p>
                        </div>
                    </div>
                </div>
                <div class="ec_ser_content ec_ser_content_2 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                    <div class="ec_ser_inner">
                        <div class="ec-service-image">
                            <img src="assets/images/icons/service_2.svg" class="svg_img" alt="">
                        </div>
                        <div class="ec-service-desc">
                            <h2>24X7 پشتیبانی </h2>
                            <p>با ما 24 ساعته در هفت روز هفته در تماس باشید </p>
                        </div>
                    </div>
                </div>
                <div class="ec_ser_content ec_ser_content_3 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                    <div class="ec_ser_inner">
                        <div class="ec-service-image">
                            <img src="assets/images/icons/service_3.svg" class="svg_img" alt="">
                        </div>
                        <div class="ec-service-desc">
                            <h2> روزه 30 بازگشت </h2>
                            <p> برگشت آسان 30 روزه برای تعویض </p>
                        </div>
                    </div>
                </div>
                <div class="ec_ser_content ec_ser_content_4 col-sm-12 col-md-6 col-lg-3" data-animation="zoomIn">
                    <div class="ec_ser_inner">
                        <div class="ec-service-image">
                            <img src="assets/images/icons/service_4.svg" class="svg_img" alt="">
                        </div>
                        <div class="ec-service-desc">
                            <h2>پرداخت امن</h2>
                            <p>با ما 24 ساعته در هفت روز هفته در تماس باشید </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--services Section End -->



    <!-- ec testmonial Start -->
    <section class="section ec-test-section section-space-ptb-100 section-space-m">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title mb-0">
                        <h2 class="ec-bg-title">توصیفات</h2>
                        <h2 class="ec-title">نظرات مشتریان</h2>
                        <p class="sub-title mb-3">آنچه مشتریان درباره ما میگویند</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ec-test-outer">
                    <ul id="ec-testimonial-slider">
                        <li class="ec-test-item">
                            <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="">
                            <div class="ec-test-inner">
                                <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                        src="assets/images/testimonial/1.jpg"></div>
                                <div class="ec-test-content">
                                    <div class="ec-test-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                        و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع
                                        با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                                        و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</div>
                                    <div class="ec-test-name">جان داو</div>
                                    <div class="ec-test-designation">مدیر کل</div>
                                    <div class="ec-test-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                                alt="">
                        </li>
                        <li class="ec-test-item ">
                            <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="">
                            <div class="ec-test-inner">
                                <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                        src="assets/images/testimonial/2.jpg"></div>
                                <div class="ec-test-content">
                                    <div class="ec-test-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                        و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع
                                        با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                                        و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</div>
                                    <div class="ec-test-name">جان داو</div>
                                    <div class="ec-test-designation">مدیر کل</div>
                                    <div class="ec-test-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                                alt="">
                        </li>
                        <li class="ec-test-item">
                            <img src="assets/images/testimonial/top-quotes.svg" class="svg_img test_svg top" alt="">
                            <div class="ec-test-inner">
                                <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                        src="assets/images/testimonial/3.jpg"></div>
                                <div class="ec-test-content">
                                    <div class="ec-test-desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                        و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع
                                        با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال
                                        و آینده، شناخت فراوان جامعه و متخصصان را می طلبد</div>
                                    <div class="ec-test-name">جان داو</div>
                                    <div class="ec-test-designation">مدیر کل</div>
                                    <div class="ec-test-rating">
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                        <i class="ecicon eci-star fill"></i>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/images/testimonial/bottom-quotes.svg" class="svg_img test_svg bottom"
                                alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- ec testmonial end -->


    <!-- Newsletter Modal Start -->
    <!-- <div id="ec-popnews-bg"></div> -->
    <!-- <div id="ec-popnews-box">
        <div id="ec-popnews-close"><i class="ecicon eci-close"></i></div>
        <div class="row">
            <div class="col-md-6 disp-no-767">
                <img src="assets/images/banner/newsletter.png" alt="newsletter">
            </div>
            <div class="col-md-6">
                <div id="ec-popnews-box-content">
                    <h2>اشتراک خبرنامه</h2>
                    <p>خبرنامه ما را برای دریافت خبرها و به روز رسانی آینده را دریافت کنید. </p>
                    <form id="ec-popnews-form" action="#" method="post">
                        <input type="email" name="newsemail" placeholder="آدرس ایمیل" required="">
                        <button type="button" class="btn btn-primary" name="subscribe">اشتراک </button>
                    </form>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Newsletter Modal end -->

    <!-- Recent Purchase Popup  -->
    <!-- <div class="recent-purchase">
        <img src="assets/images/product-image/1.jpg" alt="payment image">
        <div class="detail">
            <p>یک خریدار جدید خرید کرد</p>
            <h6>کفش بچگانه</h6>
            <p>10 دقیقه قبل</p>
        </div>
        <a href="javascript:void(0)" class="icon-btn recent-close">×</a>
    </div> -->
    <!-- Recent Purchase Popup end -->

    <!-- Cart Floating Button -->
    <div class="ec-cart-float">
        <a href="#ec-side-cart" class="ec-header-btn ec-side-toggle">
            <div class="header-icon"><img src="assets/images/icons/cart.svg" class="svg_img header_svg" alt="cart">
            </div>
            <span class="ec-cart-count cart-count-lable">3</span>
        </a>
    </div>
    <!-- Cart Floating Button end -->

    <!-- Whatsapp -->
    <!-- <div class="ec-style ec-right-bottom">
         //Start Floating Panel Container 
        <div class="ec-panel">
            //Panel Header
            <div class="ec-header">
                <strong>کمک میخواهید؟</strong>
                <p>چت با ما در واتساپ</p>
            </div>
            //Panel Content
            <div class="ec-body">
                <ul>
                    //Start Single Contact List 
                    <li>
                        <a class="ec-list" data-number="918866774266" data-message="لطفا به من کمک کنید! محصول اشتباهی ثبت کرده ام- شماره سفارشم: #654321485">
                            <div class="d-flex bd-highlight">
                                 //Profile Picture 
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_01.jpg" class="ec-user-img" alt="Profile image">
                                    <span class="ec-status-icon"></span>
                                </div>
                                //Display Name & Last Seen
                                <div class="ec-user-info">
                                    <span>سحر دریا</span>
                                    <p>سحر 7 دقیقه قبل رفت</p>
                                </div>
                                //Chat iCon 
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    //End Single Contact List
                    //Start Single Contact List
                    <li>
                        <a class="ec-list" data-number="918866774266" data-message="لطفا به من کمک کنید! محصول اشتباهی ثبت کرده ام- شماره سفارشم: #654321485">
                            <div class="d-flex bd-highlight">
                                //Profile Picture
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_02.jpg" class="ec-user-img" alt="Profile image">
                                    <span class="ec-status-icon ec-online"></span>
                                </div>
                                //Display Name & Last Seen
                                <div class="ec-user-info">
                                    <span>یلدا رفیع</span>
                                    <p>یلدا آنلاین است</p>
                                </div>
                                //Chat iCon
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    //End Single Contact List
                    //Start Single Contact List 
                    <li>
                        <a class="ec-list" data-number="918866774266" data-message="لطفا به من کمک کنید! محصول اشتباهی ثبت کرده ام- شماره سفارشم: #654321485">
                            <div class="d-flex bd-highlight">
                                //Profile Picture 
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_03.jpg" class="ec-user-img" alt="Profile image">
                                    <span class="ec-status-icon ec-offline"></span>
                                </div>
                                //Display Name & Last Seen
                                <div class="ec-user-info">
                                    <span>نرگس هیوا</span>
                                    <p>نرگس 30 دقیقه قبل رفت</p>
                                </div>
                                //Chat iCon
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    //End Single Contact List 
                    //Start Single Contact List
                    <li>
                        <a class="ec-list" data-number="918866774266" data-message="لطفا به من کمک کنید! محصول اشتباهی ثبت کرده ام- شماره سفارشم: #654321485">
                            <div class="d-flex bd-highlight">
                                //Profile Picture 
                                <div class="ec-img-cont">
                                    <img src="assets/images/whatsapp/profile_04.jpg" class="ec-user-img" alt="Profile image">
                                    <span class="ec-status-icon ec-offline"></span>
                                </div>
                                //Display Name & Last Seen 
                                <div class="ec-user-info">
                                    <span>خدیجه مهر</span>
                                    <p>خدیجه 50 دقیقه قبل رفت</p>
                                </div>
                                //Chat iCon
                                <div class="ec-chat-icon">
                                    <i class="fa fa-whatsapp"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                   //End Single Contact List
                </ul>
            </div>
        </div>
        //End Floating Panel Container 
        //Start Right Floating Button
        <div class="ec-right-bottom">
            <div class="ec-box">
                <div class="ec-button rotateBackward">
                    <img class="whatsapp" src="assets/images/common/whatsapp.png" alt="whatsapp icon">
                </div>
            </div>
        </div>
        //End Right Floating Button
    </div> -->
    <!-- Whatsapp end -->

    <!-- Feature tools -->
    <!-- <div class="ec-tools-sidebar-overlay"></div>
    <div class="ec-tools-sidebar">
        <div class="tool-title">
            <h3>امکانات</h3>
        </div>
        <a href="#" class="ec-tools-sidebar-toggle in-out">
            <img alt="icon" src="assets/images/common/settings.png">
        </a>
        <div class="ec-tools-detail">
            <div class="ec-tools-sidebar-content ec-change-color ec-color-desc">
                <h3> تم رنگ </h3>
                <ul class="bg-panel">
                    <li class="active" data-color="01">
                        <a href="#" class="colorcode1"></a>
                    </li>
                    <li data-color="02">
                        <a href="#" class="colorcode2"></a>
                    </li>
                    <li data-color="03">
                        <a href="#" class="colorcode3"></a>
                    </li>
                    <li data-color="04">
                        <a href="#" class="colorcode4"></a>
                    </li>
                    <li data-color="05">
                        <a href="#" class="colorcode5"></a>
                    </li>
                </ul>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3> بکگراند </h3>
                <ul class="bg-panel">
                    <li class="bg"><a class="back-bg-1" id="bg-1">Background-1</a></li>
                    <li class="bg"><a class="back-bg-2" id="bg-2">Background-2</a></li>
                    <li class="bg"><a class="back-bg-3" id="bg-3">Background-3</a></li>
                    <li class="bg"><a class="back-bg-4" id="bg-4">پیشفرض</a></li>
                </ul>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3> حالت تمام عرض</h3>
                <div class="ec-fullscreen-mode">
                    <div class="ec-fullscreen-switch">
                        <div class="ec-fullscreen-btn">حالت</div>
                        <div class="ec-fullscreen-on">روشن</div>
                        <div class="ec-fullscreen-off">خاموش</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>حالت تاریک</h3>
                <div class="ec-change-mode">
                    <div class="ec-mode-switch">
                        <div class="ec-mode-btn">حالت</div>
                        <div class="ec-mode-on">روشن</div>
                        <div class="ec-mode-off">خاموش</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>حالت راست‌چین</h3>
                <div class="ec-change-rtl active">
                    <div class="ec-rtl-switch">
                        <div class="ec-rtl-btn">راستچین</div>
                        <div class="ec-rtl-on ">روشن</div>
                        <div class="ec-rtl-off">خاموش</div>
                    </div>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3>زبان</h3>
                <div class="ec-change-lang">
                    <span id="google_translate_element"></span>
                </div>
            </div>
            <div class="ec-tools-sidebar-content">
                <h3> پاک کردن ذخیره سازی محلی </h3>
                <a class="clear-cach" href="javascript:void(0)"> پاک کردن کش </a>
            </div>
        </div>
    </div> -->
    <!-- Feature tools end -->

{% endblock %}

{% block custom_js %}

</script>
<!-- Main Js -->
<script src="assets/js/vendor/index.js"></script>
<script src="assets/js/main.js"></script>
<script>

</script>

{% endblock %}